html,
body {
    background: #000;
}

* {
    margin: 0;
}

.slider {
    width: 500px;
    height: 500px;
    border: 15px solid #fff;
    margin: 0 auto;
    position: relative;
    margin-top: 2rem;
}

.slider-line {
    position: relative;
}

.slider img {
    max-width: 500px;
    width: 100%;
}

.prev-button,
.next-button {
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    font-size: 1.2rem;
}