body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 90vh;
    /* width: 100%; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: 100px; */
    vertical-align: middle;
    
    background: linear-gradient(to right, #9bc6cf, #0581a0);
    color: white;
    padding: 0;
    align-content: center;
}

.countdown {
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.timer {
    font-size: 3rem;
    letter-spacing: 3px;
}

.timer-unit {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    display: inline;
}
